In [6]:
import pandas as pd

In [5]:
df = pd.read_csv("survey_results_public.csv", index_col='ResponseId')
schema_df = pd.read_csv('survey_results_schema.csv',index_col = 'qname')

In [3]:
pd.set_option('display.max_columns',85)
pd.set_option('display.max_rows',85)

In [4]:
df.head()

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,"Developer, front-end",100 to 499 employees,EUR European Euro,NaN,Monthly,JavaScript;TypeScript,JavaScript;TypeScript,NaN,NaN,NaN,NaN,Angular;jQuery,Angular;jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,Neutral,No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",GBP\tPound sterling,NaN,NaN,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,NaN,NaN,Flask,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN

In [5]:
df[['Country','Employment']]

,Country,Employment
ResponseId,,
1,Slovakia,"Independent contractor, freelancer, or self-em..."
2,Netherlands,"Student, full-time"
3,Russian Federation,"Student, full-time"
4,Austria,Employed full-time
5,United Kingdom of Great Britain and Northern I...,"Independent contractor, freelancer, or self-em..."
...,...,...
83435,United States of America,Employed full-time
83436,Benin,"Independent contractor, freelancer, or self-em..."
83437,United States of America,Employed full-time
83438,Canada,Employed full-time
83439,Brazil,Employed full-time

In [6]:
type(df[['Country','Employment']])

pandas.core.frame.DataFrame

In [7]:
df.loc[25:32, 'Country':'YearsCode']

,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode
ResponseId,,,,,,,
25,Germany,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,School;Friend or family member,26
26,Germany,NaN,NaN,"Other doctoral degree (Ph.D., Ed.D., etc.)",25 - 34 years,Coding Bootcamp;Online Forum,12
27,Switzerland,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,Other (please specify):,14
28,United Kingdom of Great Britain and Northern I...,NaN,England,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Coding Bootcamp,39
29,United Kingdom of Great Britain and Northern I...,NaN,England,"Secondary school (e.g. American high school, G...",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",14
30,Russian Federation,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",20
31,Malawi,NaN,NaN,Something else,11 - 17 years,"Other online resources (ex: videos, blogs, etc)",4
32,Israel,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",25 - 34 years,School;Online Courses or Certification,4

In [7]:
df.set_index('ResponseId')

KeyError: "None of ['ResponseId'] are in the columns"

In [9]:
df.loc[1]

MainBranch                                         I am a developer by profession
Employment                      Independent contractor, freelancer, or self-em...
Country                                                                  Slovakia
US_State                                                                      NaN
UK_Country                                                                    NaN
EdLevel                         Secondary school (e.g. American high school, G...
Age1stCode                                                          18 - 24 years
LearnCode                       Coding Bootcamp;Other online resources (ex: vi...
YearsCode                                                                     NaN
YearsCodePro                                                                  NaN
DevType                                                         Developer, mobile
OrgSize                                                        20 to 99 employees
Currency                                                        EUR European Euro
CompTotal                                                                  4800.0
CompFreq                                                                  Monthly
LanguageHaveWorkedWith              C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift
LanguageWantToWorkWith                                                      Swift
DatabaseHaveWorkedWith                                          PostgreSQL;SQLite
DatabaseWantToWorkWith                                                     SQLite
PlatformHaveWorkedWith                                                        NaN
PlatformWantToWorkWith                                                        NaN
WebframeHaveWorkedWith                                            Laravel;Symfony
WebframeWantToWorkWith                                                        NaN
MiscTechHaveWorkedWith                                                        NaN
MiscTechWantToWorkWith                                                        NaN
ToolsTechHaveWorkedWith                                                       NaN
ToolsTechWantToWorkWith                                                       NaN
NEWCollabToolsHaveWorkedWith                                       PHPStorm;Xcode
NEWCollabToolsWantToWorkWith                                           Atom;Xcode
OpSys                                                                       MacOS
NEWStuck                        Call a coworker or friend;Visit Stack Overflow...
NEWSOSites                                                         Stack Overflow
SOVisitFreq                                                Multiple times per day
SOAccount                                                                     Yes
SOPartFreq                                        A few times per month or weekly
SOComm                                                            Yes, definitely
NEWOtherComms                                                                  No
Age                                                               25-34 years old
Gender                                                                        Man
Trans                                                                          No
Sexuality                                                 Straight / Heterosexual
Ethnicity                                            White or of European descent
Accessibility                                                   None of the above
MentalHealth                                                    None of the above
SurveyLength                                                Appropriate in length
SurveyEase                                                                   Easy
ConvertedCompYearly                                                       62268.0
Name: 1, dtype: object

In [8]:
schema_df

,qid,question,force_resp,type,selector
qname,,,,,
S0,QID16,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
MetaInfo,QID12,Browser Meta Info,False,Meta,Browser
S1,QID1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
MainBranch,QID2,Which of the following options best describes ...,True,MC,SAVR
Employment,QID24,Which of the following best describes your cur...,False,MC,MAVR
Country,QID6,"Where do you live? <span style=""font-weight: b...",True,MC,DL
US_State,QID7,<p>In which state or territory of the USA do y...,False,MC,DL
UK_Country,QID9,In which part of the United Kingdom do you liv...,False,MC,DL
S2,QID190,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
EdLevel,QID25,Which of the following best describes the high...,False,MC,SAVR
Age1stCode,QID149,At what age did you write your first line of c...,False,MC,MAVR
LearnCode,QID276,How did you learn to code? Select all that apply.,False,MC,MAVR
YearsCode,QID32,"Including any education, how many years have y...",False,MC,DL
YearsCodePro,QID34,"NOT including education, how many years have y...",False,MC,DL
DevType,QID31,Which of the following describes your current ...,False,MC,MAVR
OrgSize,QID29,Approximately how many people are employed by ...,False,MC,MAVR
Currency,QID50,Which currency do you use day-to-day? If your ...,True,MC,SB
CompTotal,QID51,What is your current total compensation (salar...,False,TE,SL
CompFreq,QID52,"Is that compensation weekly, monthly, or yearly?",False,MC,MAVR
S3,QID61,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
Language,QID233,"Which <b>programming, scripting, and markup la...",False,Matrix,Likert
Database,QID262,Which <b>database environments </b>have you do...,False,Matrix,Likert
Platform,QID263,Which <b>cloud platforms</b> have you done ext...,False,Matrix,Likert
Webframe,QID264,Which <strong>web frameworks </strong><span st...,False,Matrix,Likert
MiscTech,QID265,Which <b>other frameworks and libraries</b> ha...,False,Matrix,Likert
ToolsTech,QID275,Which <strong>tools</strong> have you done ext...,False,Matrix,Likert
NEWCollabTools,QID274,Which <strong>development environments</strong...,False,Matrix,Likert
OpSys,QID71,What is the primary operating system in which ...,False,MC,SAVR
NEWStuck,QID243,What do you do when you get stuck on a problem...,False,MC,MAVR
S4,QID91,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
NEWSOSites,QID266,Which of the following Stack Overflow sites ha...,False,MC,MAVR
SOVisitFreq,QID100,How frequently would you say you visit Stack O...,False,MC,MAVR
SOAccount,QID101,Do you have a Stack Overflow account?,False,MC,MAVR
SOPartFreq,QID102,How frequently would you say you participate i...,False,MC,MAVR
SOComm,QID106,Do you consider yourself a member of the Stack...,False,MC,MAVR
NEWOtherComms,QID267,Are you a member of any other online developer...,False,MC,MAVR
NEWOtherCommsNames,QID268,Please name up to 5 other online developer com...,False,Matrix,Likert
S5,QID121,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
Age,QID127,What is your age?,False,MC,MAVR
Gender,QID122,"Which of the following describe you, if any? P...",False,MC,MAVR
Trans,QID153,Do you identify as transgender?,False,MC,MAVR
Sexuality,QID136,"Which of the following describe you, if any? P...",False,MC,MAVR
Ethnicity,QID126,"Which of the following describe you, if any? P...",False,MC,MAVR
Accessibility,QID124,"Which of the following describe you, if any? P...",False,MC,MAVR
MentalHealth,QID125,"Which of the following describe you, if any? P...",False,MC,MAVR
S6,QID131,"<span style=""font-size:22px;""><strong>Final Qu...",False,DB,TB
SurveyLength,QID132,How do you feel about the length of the survey...,False,MC,MAVR
SurveyEase,QID133,How easy or difficult was this survey to compl...,False,MC,MAVR

In [9]:
schema_df.index_sort()

AttributeError: 'DataFrame' object has no attribute 'index_sort'

In [11]:
filt_country = (df['Country'] == 'Netherlands')

In [12]:
df[filt_country]

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
71,"I am not primarily a developer, but I write co...",Employed full-time,Netherlands,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",10,2,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,25944.0
83,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Associate degree (A.A., A.S., etc.)",11 - 17 years,School,5,NaN,...,18-24 years old,Woman,No,Bisexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
92,"I am not primarily a developer, but I write co...",Employed full-time,Netherlands,NaN,NaN,Primary/elementary school,11 - 17 years,"Other online resources (ex: videos, blogs, etc...",20,10,...,25-34 years old,Man,No,Bisexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Neither easy nor difficult,108098.0
114,I am a developer by profession,Employed full-time,Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,School;Online Courses or Certification,8,4,...,25-34 years old,Man,No,Straight / Heterosexual,Middle Eastern,None of the above,None of the above,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83040,I am a developer by profession,Employed part-time,Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",22,15,...,35-44 years old,Prefer not to say,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,50772.0
83080,I am a developer by profession,Employed full-time,Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",8,2,...,25-34 years old,Man,No,Straight / Heterosexual,"Or, in your own words:",None of the above,Prefer not to say,Appropriate in length,Neither easy nor difficult,36324.0
83106,I am a developer by profession,Employed full-time,Netherlands,NaN,NaN,Something else,11 - 17 years,"Other online resources (ex: videos, blogs, etc...",11,7,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
83267,I am a developer by profession,Employed full-time,Netherlands,NaN,NaN,"Other doctoral degree (Ph.D., Ed.D., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",26,9,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent;Hispanic or Latin...,None of the above,"Or, in your own words:",Appropriate in length,Easy,97288.0
83410,I am a developer by profession,Employed full-time,Netherlands,NaN,NaN,"Other doctoral degree (Ph.D., Ed.D., etc.)",18 - 24 years,School,12,6,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,86478.0

In [26]:
#same result as above
#can also select required column in this method
df.loc[filt_country]
#example
df.loc[filt_country,'YearsCode']
## NOTE ##
# '~' is used as NOT.#
# example #
# df.loc[~filt_country,'YearsCode'] #

ResponseId
2         7
71       10
83        5
92       20
127       4
         ..
82825     8
83040    22
83080     8
83106    11
83267    26
Name: YearsCode, Length: 1043, dtype: object

In [19]:
#AND OR METHOD TO FILTER
filt_country = (df['Country'] == 'Netherlands') & (df['Age1stCode'] == '11 - 17 years')
df[filt_country]

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
71,"I am not primarily a developer, but I write co...",Employed full-time,Netherlands,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",10,2,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,25944.0
83,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Associate degree (A.A., A.S., etc.)",11 - 17 years,School,5,NaN,...,18-24 years old,Woman,No,Bisexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
92,"I am not primarily a developer, but I write co...",Employed full-time,Netherlands,NaN,NaN,Primary/elementary school,11 - 17 years,"Other online resources (ex: videos, blogs, etc...",20,10,...,25-34 years old,Man,No,Bisexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Neither easy nor difficult,108098.0
127,"I am not primarily a developer, but I write co...","Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification,4,NaN,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82825,I am a developer by profession,Employed full-time,Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School,8,2,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,46704.0
83040,I am a developer by profession,Employed part-time,Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",22,15,...,35-44 years old,Prefer not to say,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,50772.0
83080,I am a developer by profession,Employed full-time,Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",8,2,...,25-34 years old,Man,No,Straight / Heterosexual,"Or, in your own words:",None of the above,Prefer not to say,Appropriate in length,Neither easy nor difficult,36324.0
83106,I am a developer by profession,Employed full-time,Netherlands,NaN,NaN,Something else,11 - 17 years,"Other online resources (ex: videos, blogs, etc...",11,7,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
83267,I am a developer by profession,Employed full-time,Netherlands,NaN,NaN,"Other doctoral degree (Ph.D., Ed.D., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",26,9,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent;Hispanic or Latin...,None of the above,"Or, in your own words:",Appropriate in length,Easy,97288.0

In [15]:
df[filt_country]

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
71,"I am not primarily a developer, but I write co...",Employed full-time,Netherlands,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",10,2,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,25944.0
83,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Associate degree (A.A., A.S., etc.)",11 - 17 years,School,5,NaN,...,18-24 years old,Woman,No,Bisexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
92,"I am not primarily a developer, but I write co...",Employed full-time,Netherlands,NaN,NaN,Primary/elementary school,11 - 17 years,"Other online resources (ex: videos, blogs, etc...",20,10,...,25-34 years old,Man,No,Bisexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Neither easy nor difficult,108098.0
127,"I am not primarily a developer, but I write co...","Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification,4,NaN,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82825,I am a developer by profession,Employed full-time,Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School,8,2,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,46704.0
83040,I am a developer by profession,Employed part-time,Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",22,15,...,35-44 years old,Prefer not to say,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,50772.0
83080,I am a developer by profession,Employed full-time,Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",8,2,...,25-34 years old,Man,No,Straight / Heterosexual,"Or, in your own words:",None of the above,Prefer not to say,Appropriate in length,Neither easy nor difficult,36324.0
83106,I am a developer by profession,Employed full-time,Netherlands,NaN,NaN,Something else,11 - 17 years,"Other online resources (ex: videos, blogs, etc...",11,7,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
83267,I am a developer by profession,Employed full-time,Netherlands,NaN,NaN,"Other doctoral degree (Ph.D., Ed.D., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",26,9,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent;Hispanic or Latin...,None of the above,"Or, in your own words:",Appropriate in length,Easy,97288.0

In [29]:
filt_country = (df['Country'] == 'Netherlands') | (df['Country'] == 'India')
filt_country
df[filt_country].head(4)

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
9,I am a developer by profession,Employed part-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Coding Bootcamp,6,4,...,25-34 years old,Man,No,NaN,South Asian,NaN,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
23,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,Some college/university study without earning ...,5 - 10 years,School;Friend or family member,7,NaN,...,Under 18 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
40,I am a student who is learning to code,"Student, part-time",India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School,3,NaN,...,18-24 years old,Woman,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN

In [49]:
countries = ['United States', 'India', 'Canada']
filt = df['Country'].isin(countries)

In [51]:
df.loc[filt, 'Country']

Series([], Name: Country, dtype: object)

In [53]:
## To grab 'python' users alone ##
filt = df['LanguageHaveWorkedWith'].str.contains('Python', na=False)
df.loc[filt,'LanguageHaveWorkedWith']

## na=False because there are 'Nan' values entered which should be filled orelse we will get error ##

ResponseId
2                                        JavaScript;Python
3                                 Assembly;C;Python;R;Rust
5                           Bash/Shell;HTML/CSS;Python;SQL
6        C;C#;C++;HTML/CSS;Java;JavaScript;Node.js;Powe...
10                                              C++;Python
                               ...
83430               HTML/CSS;PHP;PowerShell;Python;SQL;VBA
83431          APL;Clojure;LISP;Python;Ruby;SQL;TypeScript
83432    C#;Dart;HTML/CSS;Java;JavaScript;Kotlin;Node.j...
83437                                   Groovy;Java;Python
83438                 Bash/Shell;JavaScript;Node.js;Python
Name: LanguageHaveWorkedWith, Length: 39792, dtype: object

In [ ]:
## Modify data in DF ##

In [54]:
# change column name #
df.rename(columns={'EdLevel':'Edulevel'},inplace=True)
df

,MainBranch,Employment,Country,US_State,UK_Country,Edulevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
2,I am a student who is learning to code,"Student, full-time",MNbvc,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
3,"I am not primarily a developer, but I write co...","Student, full-time",MNbvc,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",MNbvc,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,5,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,2,...,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83437,I am a developer by profession,Employed full-time,MNbvc,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,4,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83438,I am a developer by profession,Employed full-time,MNbvc,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,3,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,4,...,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [55]:
df.loc[2,['Country','US_State']] = ['USA','NYC']
df

,MainBranch,Employment,Country,US_State,UK_Country,Edulevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
2,I am a student who is learning to code,"Student, full-time",USA,NYC,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
3,"I am not primarily a developer, but I write co...","Student, full-time",MNbvc,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",MNbvc,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,5,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,2,...,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83437,I am a developer by profession,Employed full-time,MNbvc,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,4,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83438,I am a developer by profession,Employed full-time,MNbvc,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,3,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,4,...,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [ ]:
# to change single value #
df.loc[2,'Country'] = 'Ntherlands'
df

In [ ]:
##change on value##
filt = (df['US_State']=='NYC')
df.loc[filt,'Country']= 'USA'
df

In [56]:
## apply ##
df['Country'].apply(len)

ResponseId
1         8
2         3
3         5
4         7
5         5
         ..
83435    24
83436     5
83437     5
83438     5
83439     6
Name: Country, Length: 83439, dtype: int64

In [58]:
df.apply(pd.Series.min)
## can be used for numerical dataasets ##

In [59]:
df.applymap(str.lower)

TypeError: descriptor 'lower' for 'str' objects doesn't apply to a 'float' object

In [ ]:
## replace ##
df['Country'].replace({"Russian Federation": "Soviet"},inplace=True)
df

In [ ]:
## add new column ##
df['Address'] = df['US_State'] + ' ' + ['Country']

In [ ]:
## to remove ##
df.drop(columns=['Country','US_State'])

In [ ]:
## sort ##

In [63]:
df.sort_values(by=['Country'],inplace=True)

In [64]:
df['Country'].head(5)

ResponseId
39472    Afghanistan
62691    Afghanistan
62971    Afghanistan
62787    Afghanistan
26035    Afghanistan
Name: Country, dtype: object

In [68]:
df.sort_values(by=['Country','CompTotal'],ascending = [True,False],inplace=True)

In [70]:
df[['Country','CompTotal']].head(5)
## pass through a list ##

                Country  CompTotal
ResponseId
65400       Afghanistan  4544242.0
22667       Afghanistan  1000000.0
31087       Afghanistan   154100.0
44641       Afghanistan    97333.0
11378       Afghanistan    63000.0

In [19]:
df['CompTotal'].nlargest(10)

ResponseId
6379     1.000000e+74
18920    8.000000e+52
62418    7.000000e+39
104      1.000000e+29
23553    1.000000e+25
45851    6.675636e+15
69036    4.162026e+15
39572    5.474577e+10
82157    3.500000e+10
37019    1.000000e+10
Name: CompTotal, dtype: float64

In [20]:
df.nlargest(10,'CompTotal')

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
6379,I am a developer by profession,Employed full-time,Canada,NaN,NaN,Some college/university study without earning ...,11 - 17 years,"Other online resources (ex: videos, blogs, etc)",20,10,"Developer, back-end","1,000 to 4,999 employees",USD\tUnited States dollar,1.000000e+74,Weekly,Bash/Shell;HTML/CSS;JavaScript;Python;Ruby;Rus...,Rust;TypeScript,MySQL;PostgreSQL;Redis;SQLite,PostgreSQL;Redis;SQLite,AWS,NaN,Django;FastAPI;React.js;Ruby on Rails,NaN,NaN,NaN,Deno;Docker;Git,Deno;Docker,IntelliJ;Sublime Text;Visual Studio Code,IntelliJ;Sublime Text;Visual Studio Code,Windows Subsystem for Linux (WSL),Go for a walk or other physical activity;Do ot...,Stack Overflow;Stack Exchange;Stack Overflow f...,A few times per month or weekly,Yes,Multiple times per day,Neutral,No,25-34 years old,Man,"Or, in your own words:",Prefer not to say,White or of European descent;Southeast Asian,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
18920,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,3,Less than 1 year,"Developer, mobile;Data scientist or machine le...",I don’t know,INR\tIndian rupee,8.000000e+52,Weekly,Dart;HTML/CSS;Java;JavaScript;Matlab;Node.js;P...,Dart;HTML/CSS;Java;JavaScript;Matlab;Node.js;P...,Firebase;MongoDB,Firebase;MongoDB,AWS;Google Cloud Platform;Heroku,AWS;Google Cloud Platform;Heroku,Express;React.js,Express,Flutter;React Native,Flutter,Git;Yarn,Git;Yarn,Android Studio;Eclipse;IntelliJ;Vim;Visual Stu...,Android Studio;Eclipse;IntelliJ;Vim;Visual Stu...,Windows,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",Yes,18-24 years old,Man,No,Straight / Heterosexual,Southeast Asian,None of the above,None of the above,Too long,Easy,NaN
62418,I am a developer by profession,Retired,United States of America,Vermont,NaN,Something else,Younger than 5 years,Other (please specify):,Less than 1 year,50,NaN,"10,000 or more employees",BMD\tBermudian dollar,7.000000e+39,Weekly,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Exchange,Daily or almost daily,Not sure/can't remember,NaN,"Yes, somewhat",Yes,65 years or older,"Or, in your own words:",No,Straight / Heterosexual;Prefer to self-describe:,White or of European descent;Hispanic or Latin...,None of the above,"Or, in your own words:",Too short,Easy,NaN
104,I am a developer by profession,Employed full-time,United States of America,California,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",25 - 34 years,"Other online resources (ex: videos, blogs, etc...",10,5,Scientist;Engineering manager,100 to 499 employees,ZMW Zambian kwacha,1.000000e+29,Monthly,C++;Go;Python;TypeScript,C++;Go;Python;Rust;TypeScript,PostgreSQL;SQLite,PostgreSQL;SQLite,AWS;Google Cloud Platform;Heroku,AWS;Google Cloud Platform;Heroku,NaN,NaN,NumPy;TensorFlow,NumPy;TensorFlow,Docker;Git;Kubernetes,Docker;Git;Kubernetes,Vim;Visual Studio Code,Vim;Visual Studio Code,Linux-based,Go for a walk or other physical activity;Panic,NaN,NaN,NaN,NaN,NaN,NaN,25-34 years old,Man,Prefer not to say,Prefer not to say,NaN,NaN,NaN,NaN,NaN,NaN
23553,"I am not primarily a developer, but I write co...",Employed full-time,United States of America,California,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,School;Books / Physical media,42,41,"Engineer, site reliability",100 to 499 employees,ZMW Zambian kwacha,1.000000e+25,Weekly,Bash/Shell;Python,Bash/Shell;Python,NaN,NaN,AWS,AWS,NaN,NaN,NaN,NaN,Ansible;Docker;Git;Puppet;Terraform,Ansible;Docker;Git;Puppet;Terraform,NaN,NaN,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
45851,I am a developer by profession,Employed full-time,Netherlands,NaN,NaN,Something else,11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,7,Other (please specify):,20 to 99 employees,EUR European Euro,6.675636e+15,Weekly,Bash/Shell;Dart;HTML/CSS;JavaScript;Node.js;PH...,NaN,DynamoDB;Elasticsearch;Firebase;MariaDB;MongoD...,NaN,AWS;DigitalOcean;Google Cloud Platform;Microso...,NaN,Django;Drupal;Express;Flask;jQuery;Laravel;Rea...,NaN,Cordova;Flutter;Keras;NumPy;Pandas;React Nativ...,NaN,Chef;Docker;Git;Kubernetes;Terraform;Yarn,NaN,Android Studio;Atom;IntelliJ;IPython/Jupyter;P...,NaN,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,A few times per week,"Yes, somewhat",No,25-34 years old,"Or, in your own words:","Or, in your own words:",Prefer to self-describe:,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Too long,Neither easy nor difficult,NaN
69036,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,Northern Ireland,Something else,18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile;Developer, front-end;Develop...","Just me - I am a freelancer, sole proprietor, ...",THB\tThai baht,4.162026e+15,Weekly,APL;Assembly;Bash/Shell;C;C#;C++;Clojure;COBOL...,NaN,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,NaN,AWS;DigitalOcean;Google Cloud Platform;Heroku;...,NaN,Angular;Angular.js;ASP.NET;ASP.NET Core ;Djang...,NaN,.NET Framework;.NET Core / .NET 5;Apache Spark...,NaN,Ansible;Chef;Deno;Docker;Flow;Git;Kubernetes;P...,NaN,Android Studio;Atom;Eclipse;Emacs;IntelliJ;IPy...,NaN,Windows Subsystem for Linux (WSL),Call a coworker or friend;Visit Stack Overflow...,I have never visited Stack Overflow or the Sta...,NaN,NaN,NaN,NaN,Yes,18-24 years old,Man,No,NaN,East Asian,I am deaf / hard of hearing;I am blind / have ...,I have a concentration and/or memory disorder ...,Too long,Difficult,NaN
39572,I am a developer by profession,Employed full-time,Malaysia,NaN,NaN,Some college/university study without earning ...,5 - 10 years,Books / Physical media,10,18,"Developer, mobile;Developer, front-end;Develop...","10,000 or more employees",MYR\tMalaysian ringgit,5.474577e+10,Yearly,APL;Assembly;Bash/Shell;C;C#;C++;Clojure;COBOL...,LISP;Matlab;Node.js;Objective-C;Perl;PHP;Power...,IBM DB2,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,Heroku;Oracle Cloud Infrastructure,AWS;DigitalOcean;Google Cloud Platform;IBM Clo...,NaN,NaN,.NET Framework;.NET Core / .NET 5;Apache Spark,Cordova;Flutter;Hadoop;Keras;NumPy;Pandas;Qt;R...,Terraform,Ansible;Chef;Deno;Docker;Flow;Git;Kubernetes;P...,NetBeans;RStudio,Android Studio;Atom;Eclipse;Emacs;IntelliJ;IPy...,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,Under 18 years old,Man,Yes,Prefer not to say,Southeast Asian,I am blind / have difficulty seeing,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
82157,I am a developer by profession,Employed full-time,"Iran, Islamic Republic of...",NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",25 - 34 years,"Other online resources (ex: videos, blogs, etc...",NaN,5,"Developer, back-end",10 to 19 employees,IRR\tIranian rial,3.500000e+10,Monthly,HTML/CSS;JavaScript;PHP,HTML/CSS;JavaScript;PHP;SQL,MySQL,MySQL,NaN,NaN,jQuery,Angular;Django;jQuery;Laravel;Vue.js,NaN,NaN,NaN,NaN,Android Studio;PHPStorm,PHPStorm,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, definitely",No,25-34 years old,Woman,No,Straight / Heterosexual,Middle Eastern,NaN,None of the above,Too long,Neither easy nor difficult,9975060.0
37019,I am a developer by profession,Employed full-time,Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School;Online Forum;Colleague,8,5,"Developer, back-end;Engineering manager","1,000 to 4,999 employees",EUR European Euro,1.000000e+10,Weekly,Bash/Shell;C;C#;Elixir;Go;PHP;Ruby,Bash/Shell;Go;Ruby;Rust,Elasticsearch;MySQL;PostgreSQL;Redis,Elasticsearch;PostgreSQL;Redis,NaN,NaN,Ruby on Rails,NaN,.NET Framework,Flutter,Git,Ansible;Git,Neovim,Neovim,Linux-based,Google it;Visit another developer community (p...,Stack Overflow,Less than once per month or monthly,No,NaN,"No, not at all",Yes,Prefer not to say,Prefer not to say,Prefer not to say,Prefer not to say,Prefer not to say,Prefer not to say,Prefer not to say,Too long,Neither easy nor difficult,NaN

In [21]:
df['CompTotal'].head(10)

ResponseId
65400    4544242.0
22667    1000000.0
27199     480000.0
31087     154100.0
44641      97333.0
11378      63000.0
17487      35000.0
51429      30000.0
17121      20000.0
14883       6500.0
Name: CompTotal, dtype: float64

In [22]:
## grouping/aggregation ##
df['CompTotal'].median()

67000.0

In [23]:
df.median()

C:\Users\ADMIN1\AppData\Local\Temp/ipykernel_3756/530051474.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

CompTotal              67000.0
ConvertedCompYearly    56211.0
dtype: float64

In [24]:
df.describe()

          CompTotal  ConvertedCompYearly
count  4.718300e+04         4.684400e+04
mean   2.119407e+69         1.184262e+05
std    4.603702e+71         5.272944e+05
min    0.000000e+00         1.000000e+00
25%    1.600000e+04         2.702500e+04
50%    6.700000e+04         5.621100e+04
75%    1.400000e+05         1.000000e+05
max    1.000000e+74         4.524131e+07

In [25]:
df['SOAccount'].value_counts()

Yes                        67813
No                         10510
Not sure/can't remember     4202
Name: SOAccount, dtype: int64

In [26]:
df['Currency']

ResponseId
65400    ANG Netherlands Antillean guilder
22667                  AFN\tAfghan afghani
27199                    JPY\tJapanese yen
31087                  AFN\tAfghan afghani
44641                  AFN\tAfghan afghani
                       ...
56303                                  NaN
13195            USD\tUnited States dollar
80997                                  NaN
73742                                  NaN
38429            USD\tUnited States dollar
Name: Currency, Length: 83439, dtype: object

In [27]:
df['Currency'].value_counts()

USD\tUnited States dollar      14363
EUR European Euro              13932
INR\tIndian rupee               6427
GBP\tPound sterling             3547
CAD\tCanadian dollar            2108
                               ...
SRD\tSurinamese dollar             1
VUV\tVanuatu vatu                  1
CDF\tCongolese franc               1
PGK\tPapua New Guinean kina        1
SHP\tSaint Helena pound            1
Name: Currency, Length: 146, dtype: int64

In [28]:
## in percentage ##
df['Currency'].value_counts(normalize=True)

USD\tUnited States dollar      0.235151
EUR European Euro              0.228094
INR\tIndian rupee              0.105223
GBP\tPound sterling            0.058071
CAD\tCanadian dollar           0.034512
                                 ...
SRD\tSurinamese dollar         0.000016
VUV\tVanuatu vatu              0.000016
CDF\tCongolese franc           0.000016
PGK\tPapua New Guinean kina    0.000016
SHP\tSaint Helena pound        0.000016
Name: Currency, Length: 146, dtype: float64

In [29]:
## Grouping ##

In [30]:
df["Country"].value_counts()

United States of America                                15288
India                                                   10511
Germany                                                  5625
United Kingdom of Great Britain and Northern Ireland     4475
Canada                                                   3012
                                                        ...
Liechtenstein                                               1
Papua New Guinea                                            1
Dominica                                                    1
Saint Kitts and Nevis                                       1
Saint Vincent and the Grenadines                            1
Name: Country, Length: 181, dtype: int64

In [31]:
country_grp = df.groupby(['Country'])

In [32]:
country_grp.get_group('India')

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
18920,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,3,Less than 1 year,"Developer, mobile;Data scientist or machine le...",I don’t know,INR\tIndian rupee,8.000000e+52,Weekly,Dart;HTML/CSS;Java;JavaScript;Matlab;Node.js;P...,Dart;HTML/CSS;Java;JavaScript;Matlab;Node.js;P...,Firebase;MongoDB,Firebase;MongoDB,AWS;Google Cloud Platform;Heroku,AWS;Google Cloud Platform;Heroku,Express;React.js,Express,Flutter;React Native,Flutter,Git;Yarn,Git;Yarn,Android Studio;Eclipse;IntelliJ;Vim;Visual Stu...,Android Studio;Eclipse;IntelliJ;Vim;Visual Stu...,Windows,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",Yes,18-24 years old,Man,No,Straight / Heterosexual,Southeast Asian,None of the above,None of the above,Too long,Easy,NaN
80178,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc...",11,7,"Developer, desktop or enterprise applications;...",100 to 499 employees,INR\tIndian rupee,3.000000e+07,Yearly,Clojure;Java,C;Clojure;Elixir;Erlang;Haskell;Java;LISP;Perl...,Cassandra;Elasticsearch;MongoDB;PostgreSQL;Red...,MariaDB;PostgreSQL;SQLite,AWS,AWS,NaN,NaN,NaN,NaN,Ansible;Git,Ansible;Git;Kubernetes,Emacs;Neovim;Vim,Emacs;Neovim;Vim,MacOS,Visit Stack Overflow;Google it;Do other work a...,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,Neutral,Yes,25-34 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,418852.0
47844,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",5 - 10 years,"Other online resources (ex: videos, blogs, etc...",30,20,"Developer, mobile;Developer, front-end;Develop...",500 to 999 employees,INR\tIndian rupee,3.000000e+07,Yearly,Assembly;Bash/Shell;C;C++;Dart;Elixir;Erlang;G...,Assembly;Bash/Shell;C;C++;Dart;Elixir;Erlang;G...,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,NaN,AWS;DigitalOcean;Google Cloud Platform;Microso...,AWS;DigitalOcean;Google Cloud Platform;Microso...,Angular;Angular.js;Django;Express;Flask;Gatsby...,Angular;Angular.js;Django;Express;FastAPI;Flas...,Apache Spark;Cordova;Flutter;Hadoop;Keras;NumP...,.NET Core / .NET 5;Flutter;Keras;NumPy;Pandas;...,Ansible;Chef;Deno;Docker;Flow;Git;Kubernetes;T...,Deno;Docker;Flow;Kubernetes;Pulumi;Unity 3D;Un...,Android Studio;Atom;Emacs;IntelliJ;IPython/Jup...,Android Studio;Atom;Eclipse;Emacs;IntelliJ;IPy...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,Neutral,Yes,35-44 years old,Man,No,Straight / Heterosexual,"Or, in your own words:",I am deaf / hard of hearing;I am unable to / f...,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,418852.0
70275,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,19,15,Data scientist or machine learning specialist;...,"10,000 or more employees",INR\tIndian rupee,2.400000e+07,Yearly,HTML/CSS;Java;JavaScript;PowerShell;Python;VBA,HTML/CSS;Java;JavaScript;PowerShell;Python;R;VBA,Microsoft SQL Server;MySQL;Oracle,Microsoft SQL Server;MySQL;Oracle,NaN,NaN,NaN,NaN,NumPy;Pandas;TensorFlow;Torch/PyTorch,NumPy;Pandas;TensorFlow;Torch/PyTorch,Docker;Git,Docker;Git;Kubernetes,Eclipse;IPython/Jupyter;Notepad++;PyCharm,Eclipse;IPython/Jupyter;Notepad++;PyCharm,Windows,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",No,35-44 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Too long,Easy,335081.0
28792,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",35 - 44 years,Coding Bootcamp;Other online resources (ex: vi...,11,9,"Developer, desktop or enterprise applications;...",100 to 499 employees,USD\tUnited States dollar,2.000000e+07,Yearly,C#;C++;Groovy;HTML/CSS;Java;JavaScript;Node.js...,Ruby;Swift,Microsoft SQL Server;MySQL;Oracle;PostgreSQL;S...,MongoDB,AWS;DigitalOcean;Heroku,IBM Cloud or Watson;Microsoft Azure,Angular.js;Drupal;Laravel;Ruby on Rails;Symfony,Angular;ASP.NET,Apache Spark;Cordova;Hadoop,.NET Framework,Git,Chef;Docker;Kubernetes;Puppet,Android Studio;Atom;Eclipse;IPython/Jupyter;Ne...,Visual Studio Code,MacOS,Visit Stack Overflow;Google it;Visit another d...,Stack Overflow;Stack Exchange;Stack Overflow f...,A few times per month or weekly,Yes,A few times per month or weekly,Neutral,Yes,35-44 years old,Man,No,Prefer not to say,Prefer not to say,Prefer not to say,None of the above,Appropriate in length,Easy,20000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,Primary/elementary school,11 - 17 years,"Other online resources (ex: videos, blogs, etc)",Less than 1 year,NaN,NaN,NaN,NaN,NaN,NaN,Bash/Shell;C#;Java;Python,Python,Firebase,Firebase,NaN,NaN,NaN,NaN,NumPy,Keras;NumPy;TensorFlow,Unity 3D,Git,IntelliJ;IPython/Jupyter;PyCharm,IntelliJ;IPython/Jupyter;PyCharm;Visual Studio...,Windows,Go for a walk or other physical activity;Googl...,Stack Overflow;Stack Exchange,A few times per month or weekly,Yes,A few times per month or weekly,"Yes, somewhat",No,Under 18 years old,Man,No,Prefer not to say,South Asian,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
659,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc...",3,2,"Developer, full-stack","10,000 or more employees",INR\tIndian rupee,NaN,Monthly,C#;HTML/CSS;JavaScript;Node.js;SQL;TypeScript,C#;HTML/CSS;JavaScript;Node.js;SQL;TypeScript,Microsoft SQL Server;MongoDB;Oracle,Microsoft SQL Server;MongoDB,NaN,NaN,Angular;ASP.NET;ASP.NET Core ;jQuery,Angular;ASP.NET;ASP.NET Core ;jQuery,.NET Framework;.NET Core / .NET 5,.NET Framework;.NET Core / .NET 5;React Native,NaN,NaN,Notepad++;Visual Studio;Visual Studio Code,Notepad++;Visual Studio;Visual Studio Code,Windows,Visit Stack Overflow;Google it,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,Neutral,Yes,18-24 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
2062,I am a student who is learning to code,"Not employed, and not looking for work",India,NaN,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",1,NaN,NaN,NaN,NaN,NaN,NaN,Java;JavaScript,Bash/Shell;Java;JavaScript,MySQL,MySQL,Heroku,Heroku,Express,Express;React.js;Spring,NaN,NaN,Git,Git,Atom;IntelliJ;Sublime Text;Visual Studio Code,IntelliJ;Visual Studio Code,Linux-based,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, definitely",Yes,Under 18 years old,NaN,NaN,NaN,East Asian,None of the above,None of the above,Too long,Neither easy nor difficult,NaN
17630,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",18 - 24 years,School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C#;C++;HTML/CSS;JavaScript;Node.js,HTML/CSS;JavaScript;Node.js,MongoDB,MongoDB,DigitalOcean;Heroku,DigitalOcean;Heroku,Express;React.js,Express;React.js,React Native,React Native,Git,Git,Atom;Visual Studio Code,Atom;Visual Studio Code,Windows,Visit Stack Overflow;Google it,Stack Overflow,Multiple times per day,Not sure/can't remember,NaN,Neutral,Yes,18-24 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,NaN
634,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,School,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Spring,React.js;Vue.js,NaN,NaN,NaN,NaN,NetBeans,Eclipse,Windows,Visit Stack Overflow;Google it;Panic,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Southeast Asian;South Asian,None of the above,I have an anxiety disorder,Appropriate in length,Easy,NaN

In [33]:
## filter method ##
filt = df['Country'] == "India"
df.loc[filt]

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
18920,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,3,Less than 1 year,"Developer, mobile;Data scientist or machine le...",I don’t know,INR\tIndian rupee,8.000000e+52,Weekly,Dart;HTML/CSS;Java;JavaScript;Matlab;Node.js;P...,Dart;HTML/CSS;Java;JavaScript;Matlab;Node.js;P...,Firebase;MongoDB,Firebase;MongoDB,AWS;Google Cloud Platform;Heroku,AWS;Google Cloud Platform;Heroku,Express;React.js,Express,Flutter;React Native,Flutter,Git;Yarn,Git;Yarn,Android Studio;Eclipse;IntelliJ;Vim;Visual Stu...,Android Studio;Eclipse;IntelliJ;Vim;Visual Stu...,Windows,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",Yes,18-24 years old,Man,No,Straight / Heterosexual,Southeast Asian,None of the above,None of the above,Too long,Easy,NaN
80178,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc...",11,7,"Developer, desktop or enterprise applications;...",100 to 499 employees,INR\tIndian rupee,3.000000e+07,Yearly,Clojure;Java,C;Clojure;Elixir;Erlang;Haskell;Java;LISP;Perl...,Cassandra;Elasticsearch;MongoDB;PostgreSQL;Red...,MariaDB;PostgreSQL;SQLite,AWS,AWS,NaN,NaN,NaN,NaN,Ansible;Git,Ansible;Git;Kubernetes,Emacs;Neovim;Vim,Emacs;Neovim;Vim,MacOS,Visit Stack Overflow;Google it;Do other work a...,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,Neutral,Yes,25-34 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,418852.0
47844,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",5 - 10 years,"Other online resources (ex: videos, blogs, etc...",30,20,"Developer, mobile;Developer, front-end;Develop...",500 to 999 employees,INR\tIndian rupee,3.000000e+07,Yearly,Assembly;Bash/Shell;C;C++;Dart;Elixir;Erlang;G...,Assembly;Bash/Shell;C;C++;Dart;Elixir;Erlang;G...,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,NaN,AWS;DigitalOcean;Google Cloud Platform;Microso...,AWS;DigitalOcean;Google Cloud Platform;Microso...,Angular;Angular.js;Django;Express;Flask;Gatsby...,Angular;Angular.js;Django;Express;FastAPI;Flas...,Apache Spark;Cordova;Flutter;Hadoop;Keras;NumP...,.NET Core / .NET 5;Flutter;Keras;NumPy;Pandas;...,Ansible;Chef;Deno;Docker;Flow;Git;Kubernetes;T...,Deno;Docker;Flow;Kubernetes;Pulumi;Unity 3D;Un...,Android Studio;Atom;Emacs;IntelliJ;IPython/Jup...,Android Studio;Atom;Eclipse;Emacs;IntelliJ;IPy...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,Neutral,Yes,35-44 years old,Man,No,Straight / Heterosexual,"Or, in your own words:",I am deaf / hard of hearing;I am unable to / f...,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,418852.0
70275,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,19,15,Data scientist or machine learning specialist;...,"10,000 or more employees",INR\tIndian rupee,2.400000e+07,Yearly,HTML/CSS;Java;JavaScript;PowerShell;Python;VBA,HTML/CSS;Java;JavaScript;PowerShell;Python;R;VBA,Microsoft SQL Server;MySQL;Oracle,Microsoft SQL Server;MySQL;Oracle,NaN,NaN,NaN,NaN,NumPy;Pandas;TensorFlow;Torch/PyTorch,NumPy;Pandas;TensorFlow;Torch/PyTorch,Docker;Git,Docker;Git;Kubernetes,Eclipse;IPython/Jupyter;Notepad++;PyCharm,Eclipse;IPython/Jupyter;Notepad++;PyCharm,Windows,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",No,35-44 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Too long,Easy,335081.0
28792,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",35 - 44 years,Coding Bootcamp;Other online resources (ex: vi...,11,9,"Developer, desktop or enterprise applications;...",100 to 499 employees,USD\tUnited States dollar,2.000000e+07,Yearly,C#;C++;Groovy;HTML/CSS;Java;JavaScript;Node.js...,Ruby;Swift,Microsoft SQL Server;MySQL;Oracle;PostgreSQL;S...,MongoDB,AWS;DigitalOcean;Heroku,IBM Cloud or Watson;Microsoft Azure,Angular.js;Drupal;Laravel;Ruby on Rails;Symfony,Angular;ASP.NET,Apache Spark;Cordova;Hadoop,.NET Framework,Git,Chef;Docker;Kubernetes;Puppet,Android Studio;Atom;Eclipse;IPython/Jupyter;Ne...,Visual Studio Code,MacOS,Visit Stack Overflow;Google it;Visit another d...,Stack Overflow;Stack Exchange;Stack Overflow f...,A few times per month or weekly,Yes,A few times per month or weekly,Neutral,Yes,35-44 years old,Man,No,Prefer not to say,Prefer not to say,Prefer not to say,None of the above,Appropriate in length,Easy,20000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,Primary/elementary school,11 - 17 years,"Other online resources (ex: videos, blogs, etc)",Less than 1 year,NaN,NaN,NaN,NaN,NaN,NaN,Bash/Shell;C#;Java;Python,Python,Firebase,Firebase,NaN,NaN,NaN,NaN,NumPy,Keras;NumPy;TensorFlow,Unity 3D,Git,IntelliJ;IPython/Jupyter;PyCharm,IntelliJ;IPython/Jupyter;PyCharm;Visual Studio...,Windows,Go for a walk or other physical activity;Googl...,Stack Overflow;Stack Exchange,A few times per month or weekly,Yes,A few times per month or weekly,"Yes, somewhat",No,Under 18 years old,Man,No,Prefer not to say,South Asian,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
659,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc...",3,2,"Developer, full-stack","10,000 or more employees",INR\tIndian rupee,NaN,Monthly,C#;HTML/CSS;JavaScript;Node.js;SQL;TypeScript,C#;HTML/CSS;JavaScript;Node.js;SQL;TypeScript,Microsoft SQL Server;MongoDB;Oracle,Microsoft SQL Server;MongoDB,NaN,NaN,Angular;ASP.NET;ASP.NET Core ;jQuery,Angular;ASP.NET;ASP.NET Core ;jQuery,.NET Framework;.NET Core / .NET 5,.NET Framework;.NET Core / .NET 5;React Native,NaN,NaN,Notepad++;Visual Studio;Visual Studio Code,Notepad++;Visual Studio;Visual Studio Code,Windows,Visit Stack Overflow;Google it,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,Neutral,Yes,18-24 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
2062,I am a student who is learning to code,"Not employed, and not looking for work",India,NaN,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",1,NaN,NaN,NaN,NaN,NaN,NaN,Java;JavaScript,Bash/Shell;Java;JavaScript,MySQL,MySQL,Heroku,Heroku,Express,Express;React.js;Spring,NaN,NaN,Git,Git,Atom;IntelliJ;Sublime Text;Visual Studio Code,IntelliJ;Visual Studio Code,Linux-based,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, definitely",Yes,Under 18 years old,NaN,NaN,NaN,East Asian,None of the above,None of the above,Too long,Neither easy nor difficult,NaN
17630,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",18 - 24 years,School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C#;C++;HTML/CSS;JavaScript;Node.js,HTML/CSS;JavaScript;Node.js,MongoDB,MongoDB,DigitalOcean;Heroku,DigitalOcean;Heroku,Express;React.js,Express;React.js,React Native,React Native,Git,Git,Atom;Visual Studio Code,Atom;Visual Studio Code,Windows,Visit Stack Overflow;Google it,Stack Overflow,Multiple times per day,Not sure/can't remember,NaN,Neutral,Yes,18-24 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,NaN
634,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,School,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Spring,React.js;Vue.js,NaN,NaN,NaN,NaN,NetBeans,Eclipse,Windows,Visit Stack Overflow;Google it;Panic,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Southeast Asian;South Asian,None of the above,I have an anxiety disorder,Appropriate in length,Easy,NaN

In [34]:
## filter method ##
filt = df['Country'] == "India"
df.loc[filt]['DatabaseWantToWorkWith'].value_counts()

MongoDB                                                                372
MySQL                                                                  341
MongoDB;MySQL                                                          237
Firebase                                                               204
PostgreSQL                                                             176
                                                                      ...
Elasticsearch;Oracle;Redis                                               1
Cassandra;Elasticsearch;MySQL;SQLite                                     1
DynamoDB;Firebase;MongoDB;Oracle;SQLite                                  1
DynamoDB;Firebase;Microsoft SQL Server;PostgreSQL;SQLite                 1
DynamoDB;Elasticsearch;Microsoft SQL Server;PostgreSQL;Redis;SQLite      1
Name: DatabaseWantToWorkWith, Length: 1489, dtype: int64

In [37]:
country_grp['DatabaseWantToWorkWith'].value_counts()

Country      DatabaseWantToWorkWith
Afghanistan  MongoDB;MySQL              4
             MySQL                      3
             MySQL;Oracle               2
             Oracle;PostgreSQL          2
             Cassandra                  1
                                       ..
Zimbabwe     MySQL;PostgreSQL           1
             MySQL;PostgreSQL;Redis     1
             MySQL;PostgreSQL;SQLite    1
             MySQL;SQLite               1
             PostgreSQL;SQLite          1
Name: DatabaseWantToWorkWith, Length: 18475, dtype: int64

In [38]:
country_grp['DatabaseWantToWorkWith'].value_counts().loc['India']

DatabaseWantToWorkWith
MongoDB                          372
MySQL                            341
MongoDB;MySQL                    237
Firebase                         204
PostgreSQL                       176
                                ...
MySQL;Oracle;PostgreSQL;Redis      1
Oracle;PostgreSQL;Redis            1
Oracle;PostgreSQL;SQLite           1
Oracle;Redis                       1
Oracle;Redis;SQLite                1
Name: DatabaseWantToWorkWith, Length: 1489, dtype: int64

In [40]:
country_grp['CompTotal'].median().loc["India"]

622000.0

In [42]:
## aggregate ##
country_grp['CompTotal'].agg(['median','mean']).loc["India"]

median    6.220000e+05
mean      2.052335e+49
Name: India, dtype: float64

In [44]:
## python users ##
filt = df['Country'] == "India"
df.loc[filt]['LanguageHaveWorkedWith'].str.contains('Python')

ResponseId
18920    False
80178    False
47844     True
70275     True
28792     True
         ...
644       True
659      False
2062     False
17630    False
634        NaN
Name: LanguageHaveWorkedWith, Length: 10511, dtype: object

In [46]:
filt = df['Country'] == "India"
df.loc[filt]['LanguageHaveWorkedWith'].str.contains('Python').sum()

5233

In [47]:
country_grp['LanguageHaveWorkedWith'].str.contains('Python').sum()

AttributeError: 'SeriesGroupBy' object has no attribute 'str'

In [56]:
## cannot access str in 'SeriesGroupBy' object, so use below method ##
# use 'apply' method #
## 'apply' function which u want to run in each series in the group ##

pyt = country_grp['LanguageHaveWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

In [55]:
country_respondents = df['Country'].value_counts()
country_respondents

United States of America                                15288
India                                                   10511
Germany                                                  5625
United Kingdom of Great Britain and Northern Ireland     4475
Canada                                                   3012
                                                        ...
Liechtenstein                                               1
Papua New Guinea                                            1
Dominica                                                    1
Saint Kitts and Nevis                                       1
Saint Vincent and the Grenadines                            1
Name: Country, Length: 181, dtype: int64

In [58]:
# percent #
# we can combine series using concat fn #
# create a new df #
python_df = pd.concat([country_respondents,pyt],axis='columns')
python_df

,Country,LanguageHaveWorkedWith
United States of America,15288,7975
India,10511,5233
Germany,5625,2713
United Kingdom of Great Britain and Northern Ireland,4475,2149
Canada,3012,1593
...,...,...
Liechtenstein,1,1
Papua New Guinea,1,0
Dominica,1,1
Saint Kitts and Nevis,1,0
Saint Vincent and the Grenadines,1,0

In [60]:
python_df.rename(columns={'Country':'Numrespondents', 'LanguageHaveWorkedWith':'NumKnowsPyhton'}, inplace=True)
python_df

,Numrespondents,NumKnowsPyhton
United States of America,15288,7975
India,10511,5233
Germany,5625,2713
United Kingdom of Great Britain and Northern Ireland,4475,2149
Canada,3012,1593
...,...,...
Liechtenstein,1,1
Papua New Guinea,1,0
Dominica,1,1
Saint Kitts and Nevis,1,0
Saint Vincent and the Grenadines,1,0

In [63]:
python_df['Percent'] = (python_df['NumKnowsPyhton']/python_df['Numrespondents']) * 100

In [65]:
python_df

,Numrespondents,NumKnowsPyhton,Percent
United States of America,15288,7975,52.165097
India,10511,5233,49.785939
Germany,5625,2713,48.231111
United Kingdom of Great Britain and Northern Ireland,4475,2149,48.022346
Canada,3012,1593,52.888446
...,...,...,...
Liechtenstein,1,1,100.000000
Papua New Guinea,1,0,0.000000
Dominica,1,1,100.000000
Saint Kitts and Nevis,1,0,0.000000
Saint Vincent and the Grenadines,1,0,0.000000

In [71]:
python_df.sort_values(by='Percent', ascending = False, inplace=True)
python_df.head(5)

NameError: name 'python_df' is not defined

In [71]:
python_df.loc['Japan']

Numrespondents    429.000000
NumKnowsPyhton    209.000000
Percent            48.717949
Name: Japan, dtype: float64

In [73]:
## casting ##

In [74]:
df['YearsCode'].head(10)

ResponseId
65400     7
22667     5
27199     3
31087    16
44641     7
11378     8
17487     7
51429     7
17121     3
14883     8
Name: YearsCode, dtype: object

In [75]:
df['YearsCode'].mean()

TypeError: can only concatenate str (not "int") to str

In [76]:
df['YearsCode'] = df['YearsCode'].astype(float)

ValueError: could not convert string to float: 'Less than 1 year'

In [77]:
df['YearsCode'].unique()

array(['7', '5', '3', '16', '8', 'Less than 1 year', nan, '6', '2', '20',
       '4', 'More than 50 years', '1', '10', '9', '11', '32', '23', '12',
       '13', '25', '30', '15', '18', '14', '46', '19', '17', '36', '37',
       '35', '26', '40', '28', '38', '31', '33', '24', '22', '34', '41',
       '27', '21', '29', '45', '42', '48', '50', '39', '43', '47', '49',
       '44'], dtype=object)

In [78]:
df['YearsCode'].replace('Less than 1 year',0,inplace= True)

In [79]:
df['YearsCode'].replace('More than 50 years',51,inplace= True)

In [80]:
df['YearsCode'].unique()

array(['7', '5', '3', '16', '8', 0, nan, '6', '2', '20', '4', 51, '1',
       '10', '9', '11', '32', '23', '12', '13', '25', '30', '15', '18',
       '14', '46', '19', '17', '36', '37', '35', '26', '40', '28', '38',
       '31', '33', '24', '22', '34', '41', '27', '21', '29', '45', '42',
       '48', '50', '39', '43', '47', '49', '44'], dtype=object)

In [81]:
df['YearsCode'] = df['YearsCode'].astype(float)

In [82]:
df['YearsCode'].mean()

12.338200169032717